fastapi
uvicorn
python-multipart
torch
torchvision
pillow
numpy<2
opencv-python
lime
shap
scikit-image
grad-cam
sentence-transformers
faiss-cpu
requests
beautifulsoup4
sqlalchemy
asyncpg
psycopg2-binary
google-generativeai
gunicorn
python-dotenv
